cytoolz==0.12.3
eth-hash==0.7.0
eth-typing==3.5.2
eth-utils==2.3.1
eth_abi==5.1.0
numpy==2.0.1
pandas==2.2.2
parsimonious==0.10.0
python-dateutil==2.9.0.post0
pytz==2024.1
regex==2024.5.15
setuptools==71.1.0
six==1.16.0
toolz==0.12.1
typing_extensions==4.12.2
tzdata==2024.1
